{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(55, 58, 54)">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage:index' %}"><img src='{% static "img/logo.png" %}' width="130" height="30" class="d-inline-block align-top" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mob-navbar" aria-label="Toggle">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="nav nav-pills mb-2 mb-lg-0 mx-auto">
                    {% with request.resolver_match.view_name as view_name %}
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'homepage:index' %} active bg-warning {% endif %}" href="{% url 'homepage:index' %}" style="color: white">ТС в ремонте</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'filling:filling' %} active bg-warning {% endif %}" href="{% url 'filling:filling' %}" style="color: white">Внесение простоя</a>
                    </li>
                    {% endif %}
                    
                </ul>
                
                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          {{ user.first_name }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="/accounts/logout">Выход</a></li>
                        </ul>
                      </div>
                    {% else %}
                    <a class="nav-link" href="/accounts/login" style="color: white">Вход</a>
                    {% endif %}
                    {% endwith %}
            </div>
        </div>
    </nav>